<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">

    @*offcanvass header*@
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Products</h4>
        <button type="button" class="btn-close btn-close-start" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <hr class="featurette-divider">

    @*body offcanvas*@
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link" href="/Customer/GuitarCatalog?Category=@GuitarType.ElectricGuitar">Electric Guitars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Customer/GuitarCatalog?Category=@GuitarType.ClassicGuitar">Classical Guitars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Customer/GuitarCatalog?Category=@GuitarType.AcousticGuitar">Accustic Guitars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Customer/GuitarCatalog?Category=@GuitarType.ElectricBass">Electric Bass</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Customer/GuitarCatalog?Category=@GuitarType.AcousticBass">Accustic Bass</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Amps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Strings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Effects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pickups</a>
            </li>
        </ul>
    </div>
</div>