@model IList<AppUser> 

<h2 class="text-muted pt-3 pb-2 mb-3">@TempData["role"]s List</h2>

@{
    string role = TempData["role"].ToString() ?? string.Empty;

    if (role.Equals(Roles.Admin.ToString(),StringComparison.OrdinalIgnoreCase))
    {
        <partial name="~/Areas/Admin/Views/Shared/Tables/_AdminTable.cshtml" model="@Model" />
    }
    else if (role.Equals(Roles.Employee.ToString(), StringComparison.OrdinalIgnoreCase))
    {
        <partial name="~/Areas/Admin/Views/Shared/Tables/_EmployeeTable.cshtml" model="@Model" />
    }
    else if (role.Equals(Roles.Customer.ToString(), StringComparison.OrdinalIgnoreCase))
    {
        <partial name="~/Areas/Admin/Views/Shared/Tables/_CustomerTable.cshtml" model="@Model" />
    }
}


