@inject UserManager<AppUser> UserManager

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6">
        <i class="bi bi-gear"></i>
        Managment
    </a>

    <div class="navbar-nav">    
        <div class="nav-item text-nowrap text-end">

            <div class="nav-link text-light px-3">
                @UserManager.GetUserName(User)
            </div>
            
        </div>
    </div>
</header>