@model BasketComponentViewModel

<button type="button" class="btn btn-link position-relative shadow-none">
    <i class="bi bi-bag-check text-muted" style="font-size: 1.5rem;"></i>
    <span class="position-absolute top-0 start-70 translate-middle badge rounded-pill bg-danger">
        @Model.ItemsCount
        <span class="visually-hidden">unread messages</span>
    </span>
</button>
