<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sound Play</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
</head>

<body class="bg-light"> 
    <partial name="~/Views/Shared/Components/_CustomNavBar.cshtml" />
    <partial name="~/Views/Shared/Components/_CatalogNavBar.cshtml" />
    <partial name="~/Views/Shared/Components/_CatalogOffcanvas.cshtml" />

 
    @*offcanvass admin panel*@
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

        @*offcanvass header*@
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">
                <i class="bi bi-gear-fill"></i>
                Admin Panel
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        @*offcanvass body*@
        <div class="offcanvas-body">

            @*offcanvass bookmarks*@
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-storage-tab" data-bs-toggle="tab" data-bs-target="#nav-storage" type="button" role="tab" aria-controls="nav-storage" aria-selected="true">
                        Storage
                    </button>
                    <button class="nav-link" id="nav-stuff-tab" data-bs-toggle="tab" data-bs-target="#nav-stuff" type="button" role="tab" aria-controls="nav-stuff" aria-selected="false">
                        Stuff                       
                    </button>
                    <button class="nav-link" id="nav-shopper-tab" data-bs-toggle="tab" data-bs-target="#nav-shopper" type="button" role="tab" aria-controls="nav-shopper" aria-selected="false">
                        Shopper                       
                    </button>
                </div>
            </nav>

            @*bookmarks links*@
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-storage" role="tabpanel" aria-labelledby="nav-storage-tab" tabindex="0">

                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Guitar" asp-action="Index">Guitars</a>
                        </li>

                    </ul>

                </div>

                <div class="tab-pane fade" id="nav-stuff" role="tabpanel" aria-labelledby="nav-stuff-tab" tabindex="0">

                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Brand" asp-action="Index">Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Color" asp-action="Index">Colors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="GuitarShape" asp-action="Index">Guitar Shapes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Material" asp-action="Index">Materials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="PickupSet" asp-action="Index">PickupSets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="TremoloType" asp-action="Index">TremoloTypes</a>
                        </li>
                    </ul>   
                    
                </div>

                <div class="tab-pane fade" id="nav-shopper" role="tabpanel" aria-labelledby="nav-shopper-tab" tabindex="0">

                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3 ">
                        <li class="nav-item">
                            @*Other Link*@
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/cheatsheet.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/ia0sr3vihwibbslg5o7ktdm2v362cz4mazddl49ekljeta4b/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>