<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoundPlay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SoundPlay.WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
</head>


<body class="bg-light">

    @*header main*@
    <div class="container">
      
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-3 border-bottom">

            @*Admin offcanvas button*@
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                Admin Panel
                <span class="bi bi-gear"></span>
            </button>

            @*Page links*@
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-dark">Contacts</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Service</a></li>
            </ul>

            @*space for basket, wishlist, customer center *@
            <div class="col-md-3 text-end">
                @*User*@
                <button type="submit" class="btn btn-link scale">
                    <i class="bi bi-person-circle" style="font-size: 1.5rem; color: gray;"></i>
                </button>  
                @*Basket*@
                <button type="submit" class="btn btn-link position-relative scale">
                    <i class="bi bi-bag-check" style="font-size: 1.5rem; color: gray;"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        @*Product count*@99+
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            </div>

        </header>
    </div>

    @*header catalog*@
    <div>
        <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
            <div class="container">
             
                @*button start offcanvass*@
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
                    <span class="bi bi-music-note-list"></span>
                </button>

                @*button category*@
                <div class="navbar-expand">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="AllCategories">All Categories</a>
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="Guitars">Guitars</a>
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="Drums">Drums</a>
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="Keys">Keys</a>
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="Brass">Brass</a>
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="Traditional">Traditional</a>
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="Studio">Studio</a>
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="Cases">Cases</a>
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="Cables">Cables</a>
                            <a class="btn btn-dark" asp-controller="Catalog" asp-action="Accessories">Accessories</a>                          
                        </li>
                    </ul>
                </div>

                @*searcher*@
                <form class="d-flex mt-3 mt-lg-0" role="search">
                    <div class="input-group mb-0">
                        <input class="form-control me-0" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>                  
                </form>
            </div>
        </nav>
    </div>

    @*offcanvass category*@
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">

        @*offcanvass header*@
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Products</h5>
            <button type="button" class="btn-close btn-close-start" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        @*body offcanvas*@
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link" href="#">Electro Guitars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Classical Guitars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Accustic Guitars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Electric Bass</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Accustic Bass</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Amps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Strings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Effects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pickups</a>
                </li>
            </ul>
        </div>
    </div>
 
    @*offcanvass admin panel*@
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

        @*offcanvass header*@
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">
                <i class="bi bi-gear-fill"></i>
                Admin Panel
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        @*offcanvass body*@
        <div class="offcanvas-body">

            @*offcanvass bookmarks*@
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-storage-tab" data-bs-toggle="tab" data-bs-target="#nav-storage" type="button" role="tab" aria-controls="nav-storage" aria-selected="true">
                        Storage
                    </button>
                    <button class="nav-link" id="nav-stuff-tab" data-bs-toggle="tab" data-bs-target="#nav-stuff" type="button" role="tab" aria-controls="nav-stuff" aria-selected="false">
                        Stuff                       
                    </button>
                    <button class="nav-link" id="nav-shopper-tab" data-bs-toggle="tab" data-bs-target="#nav-shopper" type="button" role="tab" aria-controls="nav-shopper" aria-selected="false">
                        Shopper                       
                    </button>
                </div>
            </nav>

            @*bookmarks links*@
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-storage" role="tabpanel" aria-labelledby="nav-storage-tab" tabindex="0">

                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Guitar" asp-action="Index">Guitars</a>
                        </li>

                    </ul>

                </div>

                <div class="tab-pane fade" id="nav-stuff" role="tabpanel" aria-labelledby="nav-stuff-tab" tabindex="0">

                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Brand" asp-action="Index">Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Color" asp-action="Index">Colors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="GuitarShape" asp-action="Index">Guitar Shapes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Material" asp-action="Index">Materials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="PickupSet" asp-action="Index">PickupSets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="TremoloType" asp-action="Index">TremoloTypes</a>
                        </li>
                    </ul>   
                    
                </div>

                <div class="tab-pane fade" id="nav-shopper" role="tabpanel" aria-labelledby="nav-shopper-tab" tabindex="0">

                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3 ">
                        <li class="nav-item">
                            @*Other Link*@
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/cheatsheet.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/ia0sr3vihwibbslg5o7ktdm2v362cz4mazddl49ekljeta4b/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>