<li><a class="link-dark d-inline-flex text-decoration-none rounded" asp-area="Admin" asp-controller="Brand" asp-action="Index">Brands</a></li>
<li><a class="link-dark d-inline-flex text-decoration-none rounded" asp-area="Admin" asp-controller="Color" asp-action="Index">Colors</a></li>
<li><a class="link-dark d-inline-flex text-decoration-none rounded" asp-area="Admin" asp-controller="GuitarShape" asp-action="Index">Guitar Shapes</a></li>
<li><a class="link-dark d-inline-flex text-decoration-none rounded" asp-area="Admin" asp-controller="Material" asp-action="Index">Materials</a></li>
<li><a class="link-dark d-inline-flex text-decoration-none rounded" asp-area="Admin" asp-controller="PickupSet" asp-action="Index">Pickup Sets</a></li>
<li><a class="link-dark d-inline-flex text-decoration-none rounded" asp-area="Admin" asp-controller="TremoloType" asp-action="Index">Tremolo Types</a></li>
