<div class="card text-center mb-3 sticky-top" style="width: 20rem;">
    <div class="card-body shadow-sm">
        <h3 class="card-title">@ViewData["price"]</h3>

        <ul class="list-unstyled mt-3 mb-4 text-muted">
            <li>Stock: @ViewData["stock"]</li>
        </ul>           

        <form method="post" asp-action="AddToBasket" asp-route-productId="@ViewData["id"]" class="form-inline row g-3">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <span class="input-group-text text-bg-primary">qty.</span>
                    <input type="number" min="1" max="@ViewData["stock"]" step="1" value="1" name="productQuantity" class="form-control shadow-none" id="amountInput">
                </div>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary mb-2">Add To Basket</button>
            </div>
        </form>
    </div>
</div>
