<form method="get" asp-controller="GuitarCatalog" asp-action="ElectricGuitars">


    <div class="container text-center">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\ClassicalGuitarsCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Classical Guitars</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\AcousticGuitarCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Acoustic Guitars</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\BassGuitarCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Bass Guitars</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\AcousticBassCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Acoustic Bass Guitars</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

</form>
